<h1 id="Brasil">Brasil</h1>
<table id="table" border="1">
<tr ><td align="center" colspan="3" id="norte">Região Norte</td>
</tr>	
<tr align="center">
<td>Iniciais</td>	
<td>Estado</td>
<td>Capital</td>
</tr>
<tr align="center">
	<td>RO</td>
	<td>Rondônia</td>
	<td>Porto Velho</td>
</tr>
<tr align="center">
	<td>AC</td>
	<td>Acre</td>
	<td>Rio Branco</td>
</tr>
<tr align="center">
	<td>AM</td>
	<td>Amazonas</td>
	<td>Manaus</td>
</tr>
<tr align="center">
	<td>RR</td>
	<td>Roraima</td>
	<td>Boa vista</td>
</tr>
<tr align="center">
	<td>AP</td>
	<td>Amapá</td>
	<td>Macapá</td>
</tr>
<tr align="center">
	<td>PA</td>
	<td>Pará</td>
	<td>Belém</td>
</tr>
<tr align="center">
	<td>TO</td>
	<td>Tocantins</td>
	<td>Palmas</td>
</tr>
<tr ><td align="center" colspan="3" id="nordeste">Região Nordeste</td>
</tr>	
<tr align="center">
	<td>MA</td>
	<td>Maranhão</td>
	<td>São Luis</td>
</tr>
<tr align="center">
	<td>PI</td>
	<td>Piauí</td>
	<td>Teresina</td>
</tr>
<tr align="center">
	<td>CE</td>
	<td>Ceará</td>
	<td>Fortaleza</td>
</tr>
<tr align="center">
	<td>RN</td>
	<td>Rio Grande do Norte</td>
	<td>Natal</td>
</tr>
<tr align="center">
	<td>PB</td>
	<td>Paraiba</td>
	<td>João Pessoa</td>
</tr>
<tr align="center">
	<td>PE</td>
	<td>Pernambuco</td>
	<td>Recife</td>
</tr>
<tr align="center">
	<td>AL</td>
	<td>Alagoas</td>
	<td>Maceió</td>
</tr>
<tr align="center">
	<td>SE</td>
	<td>Sergipe</td>
	<td>Aracaju</td>
</tr>
<tr align="center">
	<td>BA</td>
	<td>Bahia</td>
	<td>Salvador</td>
</tr>
<tr ><td align="center" colspan="3" id="sudeste">Região Sudeste</td>
</tr>
<tr align="center">
	<td>MG</td>
	<td>Minas Gerais</td>
	<td>Belo Horizonte</td>
</tr>
<tr align="center">
	<td>ES</td>
	<td>Espírito Santo</td>
	<td>Vitória</td>
</tr>
<tr align="center">
	<td>RJ</td>
	<td>Rio de Janeiro</td>
	<td>Rio de Janeiro</td>
</tr>
<tr align="center">
	<td>SP</td>
	<td>São Paulo</td>
	<td>São Paulo</td>
</tr>
<tr ><td align="center" colspan="3" id="sul">Região Sul</td>
</tr>
<tr align="center">
	<td>PR</td>
	<td>Paraná</td>
	<td>Curitiba</td>
</tr>
<tr align="center">
	<td>SC</td>
	<td>Santa Catarina</td>
	<td>Florianópolis</td>
</tr>
<tr align="center">
	<td>RS</td>
	<td>Rio Grande do Sul</td>
	<td>Porto Alegre</td>
</tr>
<tr ><td align="center" colspan="3" id="centrooeste">Região Centro Oeste</td>
</tr>
<tr align="center">
	<td>MS</td>
	<td>Mato Grosso do Sul</td>
	<td>Campo Grande</td>
</tr>
<tr align="center">
	<td>MT</td>
	<td>Mato Grosso</td>
	<td>Cuiabá</td>
</tr>
<tr align="center">
	<td>GO</td>
	<td>Goiás</td>
	<td>Goiânia</td>
</tr>
<tr align="center">
	<td>GO</td>
	<td>Goiás</td>
	<td>Goiânia</td>
</tr>
<tr align="center">
	<td>DF</td>
	<td colspan="2">Distríto Federal</td>
</tr>
</table>