// Place all the styles related to the eec controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1 {
text-align: center;
font-weight: normal;	
}
#table {
	width: 50%;
	margin: 1% auto;
	border: none;
}
tr, td {
border: none;	
}
#norte {
	background: #AEF272;
}
#nordeste {
	background: #FAF459
}
#sudeste {
	background: #9CE8F0;
}
#sul {
	background: #FB8486;
}
#centrooeste {
	background: #F2B876;
}
#norte, #nordeste, #sudeste, #sul, #centrooeste {
padding-bottom: 4px;
padding-top: 4px;	
}